{% load static %}

<div class="pagina-inicial">
    <header class="cabecalho">
        {% comment %} <img src="{% static '/assets/logo/Logo(2).png' %}" alt="X Space Pixel" />   <! MUDAR LOGO DO SITE/> {% endcomment %}
        <h1 style="color: white; font-size: 45px;">X Space Pixel</h1>

    </header>
    <main class="principal">
        <section class="menu-lateral">
            <nav class="menu-lateral__navegacao">
                <a href="{% url 'index'%}"><img src="{% static '/assets/ícones/1x/Home - ativo.png' %}"> Home</a>   
                <a href="{% url 'cadastro'%}"><img src="{% static '/assets/ícones/1x/Novas - inativo.png' %}"> Cadastro</a>
                <a href="{% url 'login'%}"><img src="{% static '/assets/ícones/1x/Surpreenda-me - inativo.png' %}"> Login</a>
            </nav>
        </section>